/* 1. Crear los siguientes documentos:
    • Una página web en la que las cabeceras de nivel 1, 2 y 3 tengan el color de texto
    rojo y el tamaño de letra sea, respectivamente, cuádruple, triple y doble del
    tamaño de la letra M.
    • Una hoja de estilos externa para la web anterior que contenga dos reglas de
    definición con un selector cada una y antecedidas por un comentario. La regla
    del primer selector debe tener cuatro propiedades y la del segundo dos */

*{
    background-color: blanchedalmond;
}    

h1 {
    color: red;
    font-size: 4em;
    text-align: center;
    font-style: italic;
}

h2 {
    color: red;
    font-size: 3em;
    text-align: center;
    font-style: italic;
}

h3 {
    color: red;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

#lorem{
    color: blue;
    font-size: 2em;
}

.loremYellow{
    color: yellow;
    font-size: 2em;
}

