#uno{
    height: 400px;
    width: 100%;
    background-color: black;
    
}
#dos{
    height: 50%;
    width: 50%;
    background-color: blue;
    
}
#tres{
    height: 50%;
    width: 50%;
    background-color: gray;
    
}
#cuatro{
    height: 50%;
    width: 50%;
    background-color: yellow;
   
}